.navbar {
  background-color: #081128;
  padding: 18px 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: orange;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

.menu {
  display: flex;
  align-items: center;
  gap: 18px;
}

.menu a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.about-btn {
  background-color: orange;
  color: black !important;
  padding: 10px 16px;
  border-radius: 8px;
}