.navbar {
  height: 60px;
  background-color: #111827;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
}

.logo img {
  width: 55px;
}

.menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.menu a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.menu button {
  background-color: orange;
  color: black;
  border: none;
  padding: 8px 14px;
  border-radius: 5px;
  font-weight: bold;
}